
.Task {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 30px;
}

.btn {
    display: inline-block;
    color: antiquewhite;
    border: none;
    background: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
}
